body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #212121;
  font-family: "Arial", sans-serif;
}

.stopwatch {
  text-align: center;
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  font-size: 2em;
  margin-bottom: 10px;
  border-color: black;
  border: 2px solid;
  border-radius: 10px;
}

button {
  font-size: 1em;
  margin: 5px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: red;
  color: black;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
  border-color: black;
  border: 2px solid;
  border-radius: 10px;
}

li {
  margin: 5px 0;
}

#heading {
  font-size: medium;
  font-family: sans-serif;
  color: #212121;
}
